.breadcrumb-container {

    position: relative;

    &::before {
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: calc((100vw - 100%) / -2);
        width: 100vw;
        z-index: -2;
        background-color: #fff;

        @media screen and (min-width: 992px) {
            left: calc((100vw - (100% - 1.1rem)) / -2);
        }
    }

    &::after {
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: calc((100vw - 100%) / -2);
        width: 100vw;
        z-index: -1;
        background-color: #C9C9C9;

        @media screen and (min-width: 992px) {
            left: calc((100vw - (100% - 1.1rem)) / -2);
        }
    }

    .breadcrumb {
        --bs-breadcrumb-divider: '>';
        padding-top: .75rem;
        padding-bottom: .75rem;
        margin-bottom: 0;

        .breadcrumb-item {
            font-size: 0.875rem; // desktop: 14px 
        }

        .breadcrumb-item a {
            text-decoration: none !important;
            color: #CF142B;
        }
    }
}