.callout-percentage-center {

    padding: 20px 0 50px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media screen and (min-width: 992px) {
        padding: 30px 0 50px 0;
    }

    &.reverse {

        @media screen and (min-width: 992px) {
            margin: 0 100px;
        }

        .percentage-container {

            flex-direction: column-reverse;

            @media screen and (min-width: 992px) {
                flex-direction: row-reverse;
            }

            .percent-text {

                margin-bottom: 30px;

                @media screen and (min-width: 992px) {
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }
    }

    .percentage-container {

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            align-items: center;
        }

        .percent-container {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;

            img {
                width: 200px;
            }


            .percent {
                font-size: 6.25rem; // desktop: 100px
                line-height: 6.875rem; // desktop: 110px
                font-weight: 700;
                position: absolute;
                height: 110px;
                background-color: #fff;
                left: 40px;
                color: #CF142B;
            }
        }

        .percent-text {
            font-size: 2rem; // desktop: 32px
            line-height: 2.25rem; // desktop: 36px
            color: #CF142B;
            font-weight: 700;
            margin-left: 0;

            @media screen and (min-width: 992px) {
                margin-left: 80px;
            }

            .source {
                font-size: 1.5rem; // desktop 24px
                line-height: 1.75rem; // desktop 28px
                font-weight: 700;
                color: #666666;
                margin-top: 10px;
            }
        }
    }
}