@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "font.scss";


html {
    scroll-behavior: smooth;
}

body {
    --bs-body-font-family: Frutiger, sans-serif;
    --bs-body-font-size: 18px;
    --bs-body-color: #666666;
    --bs-body-bg: #ffffff;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.75rem; // desktop: 28px
    --bs-body-text-align: left;
}

h1 {
    font-size: 2.75rem; // desktop: 44px
    line-height: 3rem; // desktop: 48px
    font-weight: 700;
    color: #333333;
}

h2 {
    font-size: 2rem; // desktop: 32px
    font-weight: 700;
    color: #333333;
}

h3 {
    font-size: 1.625rem; // desktop: 26px
    font-weight: 400;
    line-height: 2.125rem; // desktop: 34px
    color: #666666;
}

h4 {
    font-size: 1.25rem; // desktop: 20px
    font-weight: 700;
    line-height: 1.5rem; // desktop: 24px
    color: #666666;
}

.container {
    position: relative;
}

.row {

    --bs-gutter-x: 0;

    @media screen and (min-width: 992px) {
        --bs-gutter-x: 1.5rem;
    }
}

.btn {
    font-weight: bold;
    font-size: 1.125rem; // desktop: 18px
    line-height: 1.75rem; // desktop: 28px
    padding: 15px 30px;
}

.btn-primary,
.btn-primary:hover {
    background-color: #CF142B;
    border-color: #CF142B;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.main-heading {

    margin-top: 60px;

    @media screen and (min-width: 992px) {
        margin-top: 100px;
    }

    .bar {
        border: 0;
        border-bottom: 4px solid #CF142B;
        height: 4px;
        margin-top: 1.75rem;
        width: 200px;
    }
}

.center-heading {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;

    text-align: center;
    display: block;
}

.grey {
    background-color: #F3F3F3;
}

/* emulate <br> behavior */

@media screen and (min-width: 992px) {

    span.br-before::before {
        content: "\a";
        white-space: pre;
    }

    span.br-after::after {
        content: "\a";
        white-space: pre;
    }
}