/*

std - Standard
hw - Hybrid Workplace
dwa - Digital Workﬂow & Automation
cit - Cloud & IT
cs - Cybersecurity

*/

$themes: (
    std: (primaryColor: #CF142B, bgColor: #FEF5F5),
    hw: (primaryColor: #768EC7, bgColor: #F4F6FA),
    dwa: (primaryColor: #8FC740, bgColor: #F4F6FA),
    cit: (primaryColor: #56A3DA, bgColor: #F4F6FA),
    cs: (primaryColor: #1859A9, bgColor: #F4F6FA),
);