/*

std - Standard
hw - Hybrid Workplace
dwa - Digital Workﬂow & Automation
cit - Cloud & IT
cs - Cybersecurity

*/

$themes: (
    std: (primaryColor: #CF142B),
    hw: (primaryColor: #768EC7),
    dwa: (primaryColor: #8FC740),
    cit: (primaryColor: #56A3DA),
    cs: (primaryColor: #1859A9),
);