@import "../../node_modules/bootstrap/scss/bootstrap.scss";


.html {
    background-color: #afabab;
}

.hljs {
    background: #cfcdcd !important;
}

.navbar {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    --bs-nav-tabs-link-active-bg: #cfcdcd;
    border-color: transparent;
}

.nav-link {
    cursor: pointer;

    span {
        font-weight: bold;

        a {
            text-decoration: none;
        }
    }
}

pre {
    margin-bottom: 0;
}

.navbar-toggler {
    @include media-breakpoint-up(lg) {
        margin-inline-start: 1rem;
    }
}