/*
make fluid properties

@link https://www.sassmeister.com/gist/7f22e44ace49b5124eec
Example:
@include fluid-type(padding-bottom padding-top, 2em, 4em);
@include fluid-type(font-size, 14px, 18px);
Optimized for resolution 360px <---> 1920px
*/

@mixin fluid($properties, $min-value, $max-value) {
    @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - 360px) / (1920 - 360));
    }
}

@function strip-unit($number) {
    @if type-of($number)=="number" and not unitless($number) {
        @return calc($number / ($number * 0 + 1px));
    }

    @return $number;
}

.lp-banner-cisco {

    background-color: #0F7AC9;
    
    .full-width {
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;

        height: 100%;
        object-fit: cover;

        display: unset;
        max-width: unset;
        background-color: #0F7AC9;

        @media screen and (min-width: 768px) {
            height: 415px;
        }

        @media screen and (min-width: 2000px) {
            height: 500px;
        }
    }

    .hero-content {
        position: absolute;
        z-index: 2;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        color: #fff;

        padding-right: calc(var(--bs-gutter-x) * 1);
        padding-left: calc(var(--bs-gutter-x) * .5);

        @media screen and (min-width: 768px) {
            top: 0;
            justify-content: center;
            padding-right: 0;
            padding-left: 0;

            span.br-before::before {
                content: "\a";
                white-space: pre;
            }

            span.br-after::after {
                content: "\a";
                white-space: pre;
            }
        }

        .main-heading {
            margin: 0;
            @include fluid(font-size, 36px, 46px);
            @include fluid(line-height, 40px, 50px);
            font-weight: 700;
        }
    }

    @media screen and (max-width: 768px) {
        ~.article {
            padding-top: 0;
        }
    }
}