@import "functions";
@import "mixins";
@import "themes";

.lp-callout-percentage-single {

    .percentage-container {

        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.5rem;

        .percent-container {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;

            img {
                width: 70px;
            }

            .percent {
                font-size: 1.875rem; // desktop: 100px
                line-height: 2.0625rem; // desktop: 110px
                font-weight: 700;
                position: absolute;
                background-color: #fff;
                top: 15px;
                left: 15px;
            }
        }

        .percent-text {
            font-size: 1rem; // desktop: 32px
            line-height: 1.25rem; // desktop: 36px
            color: #333333;
            font-weight: 700;
            margin-left: 15px;

            @media screen and (min-width: 992px) {
                margin-left: 15px;
            }
        }
    }

}

@include themify($themes) {

    .lp-callout-percentage-single {

        .percentage-container {

            .percent-container {

                .percent {

                    color: themed('primaryColor');
                }
            }
        }
    }
}