.lp-share {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;

    @media screen and (min-width: 992px) {
        margin-top: 0;
    }

    >div {
        padding: 5px;
        margin-left: 10px;
        font-weight: 700;

        &:nth-of-type(1) {
            margin-left: 0;
            padding-left: 0;
        }

        &.text {
            text-transform: uppercase;
        }

        &.icon,
        &.dropdown {

            border-radius: 8px;
            border: .5px solid #B1B1B1;
            cursor: pointer;

            i {
                position: relative;
                top: 4px;
                font-size: 25px;
            }
        }

        &.dropdown {

            .dropdown-toggle::after {
                display: none;
            }

            .dropdown-menu {

                a {
                    color: #333333 !important;
                }

                a:focus {
                    background-color: #B1B1B1 !important;
                }
            }
        }

        a {
            color: #B1B1B1 !important;
        }
    }

    //
    // overrides .dropdown from 02-master.css
    // 

    @media screen and (min-width: 992px) {
        .dropdown {
            opacity: 1;
            perspective: unset;
            perspective-origin: unset;
            padding: 0 5px;
            display: unset;
            position: unset;
            top: unset;
            left: unset;
            right: unset;
        }
    }
}