.lp-split-cta-thumbnail {

    background-color: #fff;

    .btn {
        width: 100%;

        @media screen and (min-width: 992px) {
            width: unset;
        }
    }

    img {
        width: 350px;
        margin-top: 30px;
        margin-bottom: 30px;

        @media screen and (min-width: 992px) {
            margin-top: unset;
            margin-bottom: unset;
        }
    }
}