@import "functions";
@import "mixins";
@import "themes";


@include themify($themes) {

    .lp-table {
        margin: 50px 0;
        background-color: #ffffff;

        .table {
            --bs-table-striped-color: #fff;
            
            color: #333333;

            th {
                &.text-theme-color {
                    color: themed('primaryColor');
                }

                border-bottom: 3px solid #f3f3f3;
            }

            td {
                border-bottom: 3px solid #f3f3f3;
            }
        }

        .heading {
            background-color: themed('primaryColor');
            color: #ffffff;
        }
    }
}