.split-width-hero {

    .sw-hero-item {

        margin: 30px 0 50px 0;

        @media screen and (min-width: 992px) {
            margin: 30px 0 100px 0;
        }

        .reverse-in-mobile {

            flex-direction: column-reverse;

            @media screen and (min-width: 992px) {
                flex-direction: row;
            }
        }

        .sw-hero-item-text {

            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 20px 0;
        }

        .sw-hero-item-img {
            position: relative;
            display: flex;
            justify-content: flex-start;

            .imgs {

                width: auto;
                position: relative;

                .img-main {
                    border-radius: 5%;
                    width: 300px;
                    height: auto;
                }

                .img-ribbon {
                    display: flex;
                    position: absolute;
                    bottom: -50px;
                    right: -50px;
                    width: 103px;
                }

                &.long-imgs {
                    width:auto;
                    max-width:90%;

                    .img-main {
                        width:auto;
                        height:auto;
                        max-width:95%;
                    }

                    .img-ribbon {
                        bottom: -40px;
                        right: -20px;
                        width: 70px;
                    }
                }
            }


        }

        @media screen and (min-width: 992px) {

            .sw-hero-item-img {
                display: flex;
                justify-content: flex-end;

                .imgs {

                    width: 400px;

                    .img-main {
                        width: 350px;
                        height: 350px;
                    }

                    .img-ribbon {
                        right: 0;
                    }

                    &.long-imgs {
                        width:auto;
                        max-width:75%;

                        .img-main {
                            width:auto;
                            height:auto;
                            max-width:90%;
                        }

                        .img-ribbon {
                            bottom: -50px;
                            right: 0px;
                            width: 103px;
                        }
                    }
                }
            }

            .reverse-in-mobile .sw-hero-item-img {
                display: flex;
                justify-content: flex-start;
            }

        }
    }

    .sw-hero-item:nth-last-of-type(1) {
        margin: 30px 0 100px 0;
    }
}