/*

std - Standard
hw - Hybrid Workplace
dwa - Digital Workﬂow & Automation
cit - Cloud & IT
cs - Cybersecurity


bgColor - general background color
gfBgColor - grey-fluid background color

*/

$themes: (
    std: (primaryColor: #CF142B, bgColor: #FEF5F5, gfBgColor: #f3f3f3),
    hw: (primaryColor: #768EC7, bgColor: #F4F6FA, gfBgColor: #f3f3f3),
    dwa: (primaryColor: #8FC740, bgColor: #F0F5E7, gfBgColor: #f3f3f3),
    cit: (primaryColor: #56A3DA, bgColor: #E5FBFF, gfBgColor: #E5FBFF),
    cs: (primaryColor: #1859A9, bgColor: #F4F6FA, gfBgColor: #f3f3f3),
);