.is-desktop {

    .banner-lp {

        &::after {
            content: '';
            display: block;
            height: 6px;
            position: absolute;
            bottom: 0;
            left: calc((100vw - 100%) / -2);
            width: 100vw;
            z-index: -1;
            background-color: #CF142B;
        }

        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% center;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .left {

            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .callout {

                position: absolute;
                z-index: -1;

                .category {
                    font-weight: 700;
                    color: #CF142B;
                }

                .meta {
                    font-size: 1.25rem; // desktop: 20px
                    font-weight: 700;
                    line-height: 1.5rem; // desktop: 24px

                    display: flex;
                    flex-direction: row;
                }
            }
        }

        .right {

            position: relative;

            .img-bg-desktop {
                position: relative;
                left: -70%;
                z-index: -3;

                width: 100%;
                object-fit: cover;
                opacity: .3;
            }
        }


        .img-right {
            position: absolute;
            top: 0;
            right: 0;
            width: 375px;
            z-index: 3;
        }
    }
}



.is-mobile {

    .banner-lp {

        &::after {
            content: '';
            display: block;
            height: 6px;
            position: absolute;
            bottom: 0;
            left: calc((100vw - 100%) / -2);
            width: 100vw;
            z-index: -1;
            background-color: #CF142B;
        }

        .left {

            .callout {

                margin-bottom: 60px;

                .category {
                    font-weight: 700;
                    color: #CF142B;
                }

                .meta {
                    font-size: 1.25rem; // desktop: 20px
                    font-weight: 700;
                    line-height: 1.5rem; // desktop: 24px

                    display: flex;
                    flex-direction: row;
                }
            }
        }


        .right {

            position: relative;
            min-height: 280px;

            .img-bg-mobile {

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: calc((100vw - 100%) / -2);
                    width: 100vw;
                    height: 100%;
                    z-index: -1;
                    background-image: url('https://picsum.photos/id/786/500/280.webp');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }



            .img-bg-desktop {
                display: none;
            }
        }


        .img-right {
            position: absolute;
            bottom: -187.5px;
            width: 100%;
        }

    }
}