.is-desktop {

    .banner-lp {

        &::after {
            content: '';
            display: block;
            height: 6px;
            position: absolute;
            bottom: 0;
            left: calc((100vw - 100%) / -2);
            width: 100vw;
            z-index: -1;
            background-color: #CF142B;
        }

        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% center;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .left {

            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .callout {

                position: absolute;
                z-index: -1;

                .category {
                    font-weight: 700;
                    color: #CF142B;
                }

                .meta {
                    font-size: 1.25rem; // desktop: 20px
                    font-weight: 700;
                    line-height: 1.5rem; // desktop: 24px

                    display: flex;
                    flex-direction: column;


                    @media screen and (min-width: 992px) {

                        flex-direction: row;

                    }
                }
            }
        }

        .right {

            position: relative;

            .img-bg {
                position: relative;
                left: -70%;
                z-index: -3;

                width: 100%;
                object-fit: cover;
                opacity: .3;

                background: rgb(243, 243, 243);
                background: linear-gradient(90deg, rgba(243, 243, 243, 0) 0%, rgba(243, 243, 243, 1) 50%);
            }
        }


        .img-right {
            position: absolute;
            top: 0;
            right: 0;
            width: 375px;
            z-index: 3;
        }
    }
}