body {
    --bs-body-bg: #ffffff;

    @media screen and (min-width: 992px) {
        --bs-body-bg: #F3F3F3;
    }
}

h1 {
    font-size: 2rem; // desktop: 32px
    line-height: 2.25rem; // desktop: 36px
    color: #333333;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem; // desktop: 24px
    line-height: 1.75rem; // desktop: 28px
    color: #333333;
    font-weight: 700;
}

ul {

    &.red-square {
        list-style: none;

        li::before {
            content: "\25A0";
            color: #CF142B;
            font-weight: bold;
            display: inline-block;
            width: 1em;
        }
    }
}

.article {
    border-radius: 0 0 12px 12px;
    padding-top: 190px;

    @media screen and (min-width: 992px) {
        padding-top: 100px;
    }
}

.container.article {
    background-color: #ffffff;
}

.divider {
    border-bottom: .5px solid #C9C9C9;
    margin: 30px 0;

    @media screen and (min-width: 992px) {
        margin: 50px 0;
    }
}

.text-red {
    color: #E56C74;
}

.text-red-2 {
    color: #CF142B;
}

.bg-grey {
    background-color: #F3F3F3;
}