@import "../../../web/src/scss/functions";
@import "../../../web/src/scss/mixins";
@import "../../../web/src/scss/themes";

body {
    --bs-body-bg: #ffffff;

    @media screen and (min-width: 992px) {
        --bs-body-bg: #F3F3F3;
    }
}

h1 {
    font-size: 2rem; // desktop: 32px
    line-height: 2.25rem; // desktop: 36px
    color: #333333;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem; // desktop: 24px
    line-height: 1.75rem; // desktop: 28px
    color: #333333;
    font-weight: 700;
}

@include themify($themes) {

    ul {

        &.marker-theme-color {
            list-style: none;
            display: table;

            li {
                display: table-row;
            }

            li::before {
                content: "\25A0";
                color: themed('primaryColor');
                font-weight: bold;
                display: table-cell;
                width: 1em;
                position: relative;
                top: -0.1rem;
            }
        }
    }
}

.article {
    background-color: #ffffff;
    border-radius: 0 0 12px 12px;
    padding-top: 100px;

    @media screen and (min-width: 992px) {
        padding-top: 50px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .img-general-content {
        border-radius: 12px;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    h3 {
        color: #333333;
        font-weight: 700;
    }
}

.divider {
    border-bottom: .5px solid #C9C9C9;
    margin: 30px 0;

    @media screen and (min-width: 992px) {
        margin: 50px 0;
    }
}

.text-red {
    color: #E56C74;
}

.text-red-2 {
    color: #CF142B;
}

@include themify($themes) {
    .text-theme-color {
        color: themed(primaryColor);
    }
}

.bg-grey {
    background-color: #F3F3F3 !important;
}

@include themify($themes) {
    .ext-resources {

        ul {
            padding-left: .75rem;
        }

        a {
            font-size: 0.875rem; // desktop: 14px
            line-height: 1.5rem; // desktop: 24px
            color: themed('primaryColor') !important;
            text-decoration: none;
        }
    }
}