.lp-callout-quote {
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    img {
        width: 100px;
        height: 100px;
    }

    .text {
        font-size: 2rem; // desktop: 32px
        line-height: 2.25rem; // desktop: 36px
        font-weight: 700;

        border-left: 5px solid #CF142B;
        padding-left: 30px;
        margin-top: 30px;
    }
}