@import "../../../web/src/scss/functions";
@import "../../../web/src/scss/mixins";
@import "../../../web/src/scss/themes";

.lp-table {
    margin: 50px 0;
    background-color: #ffffff;

    .table {
        color: #333333;
    }

    .heading {
        color: #ffffff;
    }
}

@include themify($themes) {

    .lp-table {

        .table {

            --bs-table-striped-color: themed('primaryColor');

            th {
                &.text-theme-color {
                    color: themed('primaryColor');
                }
            }
        }

        .heading {
            background-color: themed('primaryColor');
        }
    }
}