<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Connect</title>
    <link rel="stylesheet" href="scss/global.scss">
    <link rel="stylesheet" href="scss/lets-connect.scss">
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">

                    <section class="lets-connect">

                        <div class="bg-grey"></div>

                        <div class="bg-red">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="left">
                                        <img class="mb-4" src="images/ribbon-white-center.svg" alt="">
                                        <div class="heading mb-4">Let’s connect</div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="right">
                                        <div class="heading mb-4">Talk to a Ricoh expert</div>
                                        <p>Get in touch with one of our consultants and find out how we can help you
                                            create
                                            your
                                            hybrid workplace.</p>
                                        <a href="#" class="btn btn-primary">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </section>

                </div>
            </div>
        </div>
    </div>


</body>

</html>