<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Video Text</title>
    <link rel="stylesheet" href="scss/global.scss">
    <link rel="stylesheet" href="scss/split-video-text.scss">
</head>

<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">


                    <section class="split-video-text">

                        <div class="main-heading">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h1>Support Your Hybrid <span class="br-before">Workforce</span></h1>
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>

                        <div class="split-video-text-item">

                            <div class="row">
                                <div class="col-lg-6">
                                    
                                    <div class="imgs">
                                        <img class="img-main img-fluid" src="https://picsum.photos/id/1/520/294.webp"
                                            alt="">
                                        <i class="img-play bi-youtube"></i>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <p class="mt-4 mt-lg-0 pb-4">When work can be anywhere, the way we communicate and
                                        collaborate also
                                        changes. How
                                        do you keep people connected? How do you retain the culture of your business?
                                        How do
                                        you ensure business continuity in times of rapid change?</p>

                                    <h4 class="pb-4">Achieve your vision with our expertise</h4>

                                    <p>We design, integrate, and support your hybrid workspace with a holistic approach
                                        that
                                        will help nurture employee engagement, facilitate a more dynamic way of working,
                                        and
                                        help you reach new levels of performance. Our extensive solution portfolio and
                                        ecosystem of print products, communication tools, and workspace management will
                                        bring your digital workspace to greater heights. We have the expertise to help
                                        you
                                        build and scale your hybrid workplace.</p>
                                </div>
                            </div>
                        </div>

                    </section>

                </div>
            </div>
        </div>
    </div>


</body>

</html>