<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Width Hero</title>
    <link rel="stylesheet" href="scss/global.scss">
    <link rel="stylesheet" href="scss/split-width-hero.scss">
</head>

<body>


    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="container">

                    <div class="main-heading">
                        <div class="row">
                            <div class="col-lg-6">
                                <h1>Our Hybrid Workplace <span class="br-before">Solutions</span></h1>
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>

                    <section class="split-width-hero">

                        <div class="sw-hero-item">
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="sw-hero-item-text">
                                        <h2>Connect & Collaborate</h2>
                                        <p>Deliver excellent user experience that allows effortless connectivity and
                                            collaboration across teams, workspaces, and geographics. Create better work
                                            experiences and increase employee engagement with world-class voice, video,
                                            and
                                            interactive display technologies.</p>
                                        <a class="btn btn-primary" href="#">Discover now</a>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="sw-hero-item-img">
                                        <img class="img-fluid" src="https://picsum.photos/id/1/400/400.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="sw-hero-item">
                            <div class="row reverse-in-mobile">

                                <div class="col-lg-6">
                                    <div class="sw-hero-item-img">
                                        <img class="img-fluid" src="https://picsum.photos/id/1012/400/400.webp" alt="">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="sw-hero-item-text">
                                        <h2>Workspace Management</h2>
                                        <p>Enable the workplace of tomorrow, today by unleashing the full potential of
                                            your workspace. Maintain and improve your operational functions and
                                            workspaces with a dynamic space management tool.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="sw-hero-item">
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="sw-hero-item-text">
                                        <h2>Smart Devices</h2>
                                        <p>Don’t let your team get bogged down by a fractured physical-digital
                                            experience. From tablets and videoconferencing to intelligent printers and
                                            the Internet, empower your people to work seamlessly and more effectively in
                                            a safe and secure environment.</p>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="sw-hero-item-img">
                                        <img class="img-fluid" src="https://picsum.photos/id/1070/400/400.webp" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>

                </div>
            </div>
        </div>
    </div>


</body>

</html>