        .cookie-notification__popup{
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 2147483640;
            background: #333;
            padding: 20px 28px;
            color: #ddd;
        }
		.cookie-notification__container .info{		
			font-size: 14px;
			margin-bottom: 15px;
		}
		
        .cookie-notification__popup .close{
            display:none;
        }

        .learn-more__link{
            color: #ddd;
			font-size: 14px;
        }
		
        .learn-more__link:focus,
        .learn-more__link:hover,
        .learn-more__link:active{
            color: #cf142b;
        }
		
        .btn__cookie-notification{
			font-size: 14px;
			background-color: #c40112;
			padding: 10px 36px;
		}
		
        @media screen and (min-width:1361px){
			.cookie-notification__popup{
				/* padding: 20px 105px; */
                padding: 0;
			}
            .cookie-notification__container{
                display: flex;
                flex-wrap: nowrap;
                justify-content:space-between;
                max-width: 1296px;
                margin: 0 auto;
                padding: 20px 12px;
            }
            .cookie-notification__container .info{
                max-width: 81%;
				margin-bottom: 0;
            }
        }
		
		@media screen and (max-width: 768px){
            .cookie-notification__container .info{
               margin-bottom: 20px;
            }
        }