.lp-lets-connect .mb-4 {
  margin-bottom: 1.5rem !important;
}

.lp-lets-connect .mt-4 {
  margin-top: 1.5rem !important;
}

.lp-lets-connect img, svg {
  vertical-align: middle;
}

.lp-lets-connect p {
  margin-top: 0;
  margin-bottom: 1.75rem;
}

.lp-lets-connect {
  background-color: #f3f3f3;
  border-bottom: 6px solid #cf142b;
  border-radius: 10px 10px 0 0;
  margin: 10px 0 50px;
  padding: 30px;
}

@media screen and (min-width: 992px) {
  .lp-lets-connect {
    width: 375px;
    margin: 100px 0 50px auto;
  }
}

.lp-lets-connect .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lp-lets-connect .content .logo-container {
  background-color: #fff;
  border: .5px solid #cf142b;
  border-radius: 50%;
  padding: 10px;
}

.lp-lets-connect .content .logo-container img {
  width: 120px;
  height: 120px;
}

.lp-lets-connect .content .callout {
  text-align: center;
}

.lp-lets-connect .content .callout strong {
  color: #333;
}

.lp-lets-connect .content .btn-secondary {
  color: #cf142b;
  background-color: #f3f3f3;
  border-color: #cf142b;
}

/* .lp-lets-connect .content .btn-secondary:hover {
  color: #fff;
  background-color: #cf142b;
  border-color: #fff;
} */
