
.lp-hyperlinks .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  margin-top: calc(-1 * var(--bs-gutter-y) );
  margin-right: calc(-.5 * var(--bs-gutter-x) );
  margin-left: calc(-.5 * var(--bs-gutter-x) );
  flex-wrap: wrap;
  display: flex;
}

.lp-hyperlinks .row > * {
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
  flex-shrink: 0;
}

.lp-hyperlinks .col {
  flex: 1 0;
}
  .lp-hyperlinks .row-cols-auto > * {
  width: auto;
  flex: none;
}

.lp-hyperlinks .row-cols-1 > * {
  width: 100%;
  flex: none;
}

.lp-hyperlinks .row-cols-2 > * {
  width: 50%;
  flex: none;
}

.lp-hyperlinks .row-cols-3 > * {
  width: 33.3333%;
  flex: none;
}

.lp-hyperlinks .row-cols-4 > * {
  width: 25%;
  flex: none;
}

.lp-hyperlinks .row-cols-5 > * {
  width: 20%;
  flex: none;
}

.lp-hyperlinks.row-cols-6 > * {
  width: 16.6667%;
  flex: none;
}
@media (min-width: 768px) {
 .lp-hyperlinks .row-cols-md-auto > * {
    width: auto;
    flex: none;
  }

 .lp-hyperlinks .row-cols-md-1 > * {
    width: 100%;
    flex: none;
  }

 .lp-hyperlinks .row-cols-md-2 > * {
    width: 50%;
    flex: none;
  }

 .lp-hyperlinks .row-cols-md-3 > * {
    width: 33.3333%;
    flex: none;
  }

 .lp-hyperlinks .row-cols-md-4 > * {
    width: 25%;
    flex: none;
  }

 .lp-hyperlinks .row-cols-md-5 > * {
    width: 20%;
    flex: none;
}}
.lp-hyperlinks {
  background-color: #fff;
  padding: 30px 0;
}
.lp-hyperlinks p{
	margin-bottom:1.75rem;
}
.lp-hyperlinks .hyperlink {
  background-color: #f3f3f3;
  border-radius: 5px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  display: flex;
}

.lp-hyperlinks .hyperlink a {
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  text-decoration: none;
  color: #333 !important;
}

.lp-hyperlinks .hyperlink .arrow {
  color: #cf142b;
  border-left: 1px solid #fff;
  margin-left: auto;
  padding: 10px;
}

