.breadcrumb {

    --bs-breadcrumb-divider: '>';
    padding-top: .75rem;
    padding-bottom: .75rem;
    margin-bottom: 0;
    border-bottom: .5px solid #C9C9C9;

    .breadcrumb-item {
        font-size: 0.875rem; // desktop: 14px 
    }

    .breadcrumb-item a {
        text-decoration: none !important;
    }
}