.btn-cta1 {

    $text-arrow-space: 15px;
    $shaft-width: 20px;
    $newshaft-width: 25px;
    $shaft-thickness: 2px;
    $arrow-head-width: 8px;
    $arrow-head-thickness: $shaft-thickness;

    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;

    &:hover {

        >.the-arrow.-left {

            >.shaft {

                width: $newshaft-width;
                transition-delay: 0.1s;

                &:before,
                &:after {

                    width: $arrow-head-width;
                    transition-delay: 0.1s;
                }

                &:before {

                    transform: rotate(40deg);
                }

                &:after {

                    transform: rotate(-40deg);
                }
            }
        }
    }

    >.the-arrow {

        width: $shaft-width;
        transition: all 0.2s;

        &.-left {

            position: absolute;
            top: 50%;
            left: 115px;

            >.shaft {

                width: 0;
                opacity: 0;

                &:before,
                &:after {

                    width: 0;
                }

                &:before {

                    transform: rotate(40deg);
                }

                &:after {

                    transform: rotate(-40deg);
                }
            }
        }

        >.shaft {

            display: block;
            height: $shaft-thickness;
            position: relative;
            transition: all 0.2s;
            transition-delay: 0;
            will-change: transform;

            &:before,
            &:after {

                content: '';
                display: block;
                height: $arrow-head-thickness;
                position: absolute;
                top: 0;
                right: 0;
                transition: all 0.2s;
                transition-delay: 0;
            }

            &:before {

                transform-origin: top right;
            }

            &:after {

                transform-origin: bottom right;
            }
        }
    }

    >.btn-main {

        display: flex;
        align-items: center;
        border-radius: 5px;
        transition: all 0.2s;

        >.text {
            transition: all 0.2s;
            border-radius: 5px;
            padding: 10px 10px 10px 10px;
        }

        >.the-arrow {

            position: relative;
        }
    }
}

// THEME


@import "../../../web/src/scss/functions";
@import "../../../web/src/scss/mixins";
@import "../../../web/src/scss/themes";

@include themify($themes) {

    .btn-cta1 {

        color: themed('primaryColor');

        &:hover {

            color: themed('primaryColor');

            >.the-arrow.-left {

                >.shaft {
                    opacity: 1;
                    background-color: themed('primaryColor');

                    &:before,
                    &:after {

                        background-color: themed('primaryColor');
                    }
                }
            }

            >.btn-main {
                >.text {
                    padding-right: 50px;
                }
            }
        }

        >.the-arrow {

            &.-left {

                >.shaft {

                    background-color: #fff;

                    &:before,
                    &:after {

                        background-color: #fff;
                    }
                }
            }

            >.shaft {

                background-color: #fff;


                &:before,
                &:after {

                    background-color: #fff;
                }
            }
        }

        >.btn-main {
            color: themed('primaryColor');
            background-color: #fff;
            border: .5px solid themed('primaryColor');
        }
    }
}